<div>
  <div>
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    {{> editBlog}}
    <!-- conditionally render the comment button if logged in -->
    {{#if logged_in}}
    <div>
        <h3>Comment:</h3>

        <form class="form new-comment-form">
          <div class="form-group">
            <label for="comment-context">Provide a comment for this blog:</label>
            <textarea class="form-input" id="comment-context" name="comment-context"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
          </div>
        </form>
    </div>
    {{else}}
    <button class="login-btn btn btn-sm btn-primary"><a href="/login">Log In</a></button>
    {{/if}}
  </div>
</div>


{{> editcomment}}

<script src="/js/comment.js"></script>
<script src="/js/editBlog.js"></script>